@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: roboto;
}

nav {
    display: flex;
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav-col-1 {
    display: flex;
    align-items: center;
}

#otarea{
    text-decoration: none;
    color: #373737;
    font-family: Roboto;
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#in{
    
    background: linear-gradient(180deg, #2B7AC1 0%, #3AB26F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Roboto;
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* .vertial-line {
    width: 1px;
    height: 54px;
    background: rgba(0, 0, 0, 0.61);
    /* height: 30px;
    border-left: 1px solid black;
    margin-inline: 10px; */


.nav-btn {
    color: #373737;
    font-size: 25px;
    font-weight: 100;
    text-decoration: none;
}

.nav-col-2 {
    display: flex;
    align-items: center;
}

.nav-col-2>a {
    padding: 10px;
}

.get-a-quote {
    border-radius: 23.5px;
    background: #184655;
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 5px 30px;
    font-size: 30px;
    font-weight: 500px;
    border: none;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-image: linear-gradient(45deg, #e9e3e6, #d9e4e9);
    /* background-image: url(./Media/Background.svg); */
    margin: 30px;
    height: 742px;
    flex-wrap: wrap;
}

.hero-text>h1 {
    color: #184655;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: 60px;
}

.tags {
    width: 330px;
    padding-top: 10px;
    justify-content: space-between;
    display: flex;
    color: #53748C;
    font-size: 21px;
    font-weight: 400;
}

.input-div {
    border-radius: 19px;
    background: #fff;
    overflow: hidden;
    display: flex;
    width: 546px;
    margin: 20px 0px;
}

#hero-input {
    flex: 2;
    padding: 10px 30px;
    border: none;
    color: #727272;
    font-size: 22px;
    font-weight: 400;
    line-height: 118%;
    /* 25.96px */
    outline: none;
}

#hero-btn {
    flex: 1;
    border-radius: 0px 19px 19px 0px;
    background: #184655;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 118%;
    /* 25.96px */
    border: none;
    padding: 25px 10px;
    cursor: pointer;
}

.main-card {
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.10);
    align-items: center;
    background-image: linear-gradient(to bottom, white, #d9e4e9)
}

.main-card-image>img {
    width: 40vw;
    height: 90%;
    border-radius: 15px;
    margin-right: 20px;
}

.main-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.main-card-text>h1 {
    color: #404040;
    font-size: 42px;
    font-weight: 500;
}

.main-row-1 {
    display: flex;
    justify-content: space-between;
    color: rgba(111, 110, 110, 0.84);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
}

.main-card-description {
    color: #464343;
    font-size: 28px;
    font-weight: 400;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    align-items: center;
    flex-wrap: wrap;
    width:100vw;
}

.card {
    overflow: hidden;
    margin: 15px;
    width: 29vw;
    border-radius: 20px;
    background: linear-gradient(146deg, rgba(249, 247, 247, 0.1)0%, rgba(249, 247, 247, 0.4)100%);
    box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
}

.card-image>img {
    width: 29vw;
    height: 50%;
    border-radius: 20px;
    object-fit:contain;
    
}

.card-texts {
    padding: 20px;
}

.card-heading {
    color: #4A4848;
    font-size: 25px;
    font-weight: 500;
}

.card-row-1 {
    display: flex;
    justify-content: space-between;
    color: rgba(111, 110, 110, 0.84);
    font-size: 18px;
    font-weight: 500;
}

#card-description {
    color: #464343;
    text-align: justify;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
}

.read-more {
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    width: 100%;
}

.read-more>a {
    color: #213949;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    margin: 30px;
    height: 707px;
    justify-content: center;
    border-radius: 30px;
    background: linear-gradient(to bottom, white, #d9e4e9);
    box-shadow: 2px 2px 2px 2px rgba(53, 1, 1, 0.25);
    flex-wrap: wrap;
}
.footer-text-1{
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}
.footer-text-2{
    color: #000;
    font-size: 57px;
    font-weight: 500;
    text-align: center;
}
.footer-text-3{
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
}
.footer-col-2 img{
    width:80%;
}
.footer-btn{
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    border-radius: 23.5px;
    background: linear-gradient(122deg, #2C56AA 0%, #3BB08B 100%);
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 5px 20px;
    margin-top: 70px;
    margin-left: 125px;
}
.mobile-menu{
    display: none;
}
@media screen and (max-width:1100px) {
    .main-card{
        flex-direction: column;
    }
    .main-card-image>img{
        width: 100%;
    }
    .footer-col-2{
        width: 100%;
    }
    .footer-col-2>img{
        width: 90%;
    }
    .footer-col-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-text{
        flex-direction: column;
        align-items: center;
    }
    .input-div{
        width: 80vw;
    }
    
}
@media screen and (max-width:840px) {
    .mobile-menu{
        display: block;
        font-size: 40px;
        margin-inline: 20px;
    }
    .nav-btn{
        display: none;
    }
    .get-a-quote{
        font-size: 15px;
    }
}